pkgbase = datara-bin
	pkgdesc = High-performance Post-OOP systems and application programming language with Forgen compiler
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/datara-lang/datara
	arch = x86_64
	license = Apache-2.0
	license = MIT
	provides = datara
	provides = forgen
	conflicts = datara
	conflicts = forgen
	source_x86_64 = https://github.com/datara-lang/datara/releases/download/v1.4.1/forgen-linux-x64.tar.gz
	sha256sums_x86_64 = 9694fba29b4aff7f7deda381f0344af8621383e89fbf1011d6dcd3ac2afd614b

pkgname = datara-bin
