pkgbase = datara-bin
	pkgdesc = High-performance Post-OOP systems and application programming language with Forgen compiler
	pkgver = 1.4.1
	pkgrel = 1
	url = https://github.com/datara-lang/datara
	arch = x86_64
	license = Apache-2.0
	license = MIT
	provides = datara
	provides = forgen
	conflicts = datara
	conflicts = forgen
	source_x86_64 = https://github.com/datara-lang/datara/releases/download/v1.4.1/forgen-linux-x64.tar.gz
	sha256sums_x86_64 = 7cb9a64e563f65439e6b89d9b78491e34ec393facd8edbe52d33654f60f038eb

pkgname = datara-bin
