pkgbase = datara-bin
	pkgdesc = High-performance Post-OOP systems and application programming language with Forgen compiler
	pkgver = 1.4.5
	pkgrel = 1
	url = https://github.com/datara-lang/datara
	arch = x86_64
	license = Apache-2.0
	license = MIT
	provides = datara
	provides = forgen
	conflicts = datara
	conflicts = forgen
	source_x86_64 = https://github.com/datara-lang/datara/releases/download/v1.4.5/forgen-linux-x64.tar.gz
	sha256sums_x86_64 = 77785f7ee68e0ab419d1bffa0eed04f4c60391f2016a6a85c7d5f317cdd97354

pkgname = datara-bin
